#about {
    background-color: #3a3a3a;
}

.family-portrait {
    max-width: 90%;
    margin: 5rem;
}

.heading {
    font-size: 4rem;
    margin: 3rem;
}

.text-container {
    width: 1000px;
    max-width: 90%;
    padding: 3rem;
    text-align: left;
}