#get-involved {
    background-color: #3a3a3a;
}

.page-banner {
    width: 100%;
    background-image: url(images/9999.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #dddddd;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5.5rem;
}

.title {
    font-size: 10rem;
    text-shadow: 3px 3px 3px #000000;

}

.p-link {
    text-decoration: none;
    color: #000000;
}

.text-container {
    width: 1000px;
    max-width: 90%;
    padding: 3rem;
    text-align: left;
}

.address {
    text-align: left;
}

.paypal {
    padding: 2rem;
    margin: 2rem;
    border: 1px solid #a8a8a8;
    border-radius: 1rem;
}

@media (max-width: 900px), (max-height: 650px) {
    .page-banner {
        margin-top: 0;
        height: 50rem;
    }
    .title {
        font-size: 8rem;
    }
}

@media (max-width: 700px) {
    .page-banner {
        height: 40rem;
    }
    .title {
        font-size: 6rem;
    }
    .text-container {
        padding: 3rem 0;
    }
}