#home {
    background-color: #3a3a3a;
}

.banner {
    width: 100%;
    background-image: url(images/IMG_3918-768x512.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
}

.title {
    font-size: 10rem;
    text-shadow: 3px 3px 3px #000000;
}

.sub-text {
    font-size: 3rem;
    font-style: italic;
    text-shadow: 2px 2px 2px #000000;

}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #ffffff;
    height: 75rem;
    width: 100rem;
    max-width: 100%;
    margin: 5rem;
    padding: 5rem;    
}

#services-tile {
    background-image: url(images/hogar_de_bendicion.jpg);
}

#about-tile {
    background-image: url(images/family_portrait.jpg);
}

.tile-title {
    font-size: 8rem;
    text-shadow: 3px 3px 3px #000000;
}

.tile-sub-text {
    font-size: 3rem;
    font-style: italic;
    text-shadow: 2px 2px 2px #000000;
}

.tile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
    background-color: #ffffffaa;
    height: 5rem;
    width: 20rem;
    border-radius: 0.5rem;
    margin: 5rem;
    transition: background-color 0.5s ease;
}

.tile-link:hover {
    background-color: #ffffffff
}

#sponsor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100rem;
    max-width: 100%;
    margin: 3rem;
}

.sponsor-text-block {
    text-align: center;
    padding: 4rem;
    max-width: 50%;
}

.sponsor-title {
    font-size: 3rem;
    margin: 2rem;
}

.p-link {
    text-decoration: none;
    color: #000000;
}

.sponsor-child-img {
    max-width: 50%;
}

@media (max-width: 1000px) {
    .tile {
        margin: 2rem;
    }
    #sponsor {
        flex-direction: column-reverse;
    }
    .sponsor-child-img {
        max-width: 100%;
    }
    .sponsor-text-block {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .banner {
        margin-top: 0;
        height: 50rem;
    }
    .title {
        font-size: 8rem;
    }
    .tile {
        height: 50rem;
        padding: 0;
        margin: 1rem;
    }
    .tile-title {
        font-size: 6rem;
    }
    .tile-sub-text {
        font-size: 2rem;
    }
    .tile-link {
        height: 3rem;
        width: 15rem;
        font-size: 1.5rem;
    }
    #sponsore {
        margin: 1rem;
    }    
}

@media (max-width: 600px) {
    .banner {
        height: 40rem;
    }
    .title {
        font-size: 6rem;
    }
    .sub-text {
        font-size: 2rem;
    }
    .tile {
        height: 40rem;
        padding: 0;
        margin: 1rem;
    }
    .tile-title {
        font-size: 5rem;
    }
    .tile-sub-text {
        font-size: 2rem;
    }
    #sponsore {
        margin: 1rem;
    }
}

@media (max-width: 500px) {
    .banner {
        height: 30rem;
    }
    .title {
        font-size: 4rem;
    }
    .sub-text {
        font-size: 2rem;
    }
    .tile {
        height: 30rem;
        padding: 0;
        margin: 1rem;
    }
    .tile-title {
        font-size: 4rem;
    }
    .tile-sub-text {
        font-size: 2rem;
    }
    #sponsore {
        margin: 1rem;
    }
}

@media (max-height: 500px) {
    .banner {
        margin-top: 0rem;
    }
}