@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #d3d3d3;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    z-index: 9;
}

nav {
    display: flex;
    padding: 0 2rem;
}

.all-links{
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.home-link {
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}

.nav-link {
    font-size: 1.5rem;
    padding: 2rem;
}

.donate {
    border: 0.1rem solid #ffffff;
    border-radius: 2.5rem;
    font-size: 2rem;

}

.all-links:hover {
    background-color: #3a3a3a;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-text {
    font-size: 3rem;
    font-style: italic;
    text-shadow: 2px 2px 2px #000000;

}

footer {
    background-color: #505050;
    width: 100%;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

p {
    font-size: 2rem;
}

small {
    font-size: 1.2rem;
}

.logo {
    height: 4rem;
    margin: 2rem;
}

.logo:hover {
    transform: scale(1.1);
}